<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DollarComputersConnection" connectionString="data source=dollar-server.database.windows.net;initial catalog=DollarComputers;persist security info=True;user id=dollaradmin;password=Password1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>